<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Bolder to Boulder</title>

    <link rel="stylesheet" href="style.css" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.11.0/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.11.2/addons/p5.sound.min.js"></script>
    <script src="script.js"></script>
  </head>
  <body>
    
    <div id="container-three"></div>
    <div id="container-p5"></div>
    <div class="elements">
      <p id="status">Click "Start" to begin listening...</p>
      <button id="startButton">Start</button>
      <button id="stopButton" disabled>Stop</button>
      <p>Detected Words: <span id="detectedWords"></span></p>
      
    </div>

  </body>
</html>
