<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Bolder to Boulder</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css" />
    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.11.0/p5.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.11.2/addons/p5.sound.min.js"></script>
    <script defer src="script.js"></script>
  </head>
  <body>
    <div id="container-p5"></div>
    <div class="elements" id="btns">
      <button class="btn-intro" id="intro">intro</button>
      <button class="btn-intro" id="offyougo">off you go</button>
      <button class="btn-intro" id="brainburn">brain burn</button>
      <button class="btn-intro" id="alright">alright</button>
      <button class="btn-randomize" id="sticktoolong">stick too long</button>
      <button class="btn-randomize" id="chooseroute">choose route</button>
      <button class="btn-randomize" id="gotothisroute">go to this route</button>
      <button class="btn-timer" id="nicetry">nice try</button>
      <button class="btn-timer" id="success">success</button>
      <button class="btn-timer" id="takerest">take rest</button>
      <button class="btn-timer" id="wait">wait</button>
      <button class="btn-timer" id="timerend">timer end</button>
      <button class="btn-challenge" id="suggestchallenge">suggest challenge</button>
      <button class="btn-challenge" id="choosechallenge">choose challenge</button>
      <br>
      <button class="btn-hug" id="wanthug">want hug</button>
      <button class="btn-hug" id="yay">yay pebo like it</button>
      <button class="btn-hug" id="yournice">you r nice</button>
      <button class="btn-thief" id="thief">thief</button>
      <button class="btn-thief" id="leavemealone">leave me alone</button>
      <button class="btn-thief" id="rude">rude</button>
      <button class="btn-hurt" id="urgent">urgent</button>
      <button class="btn-hurt" id="ruok">r u ok</button>
      <br>
      <button class="btn-help" id="notsure">notsure</button>
      <button class="btn-help" id="askhelp">ask help</button>
      <button class="btn-help" id="agreetohelp">agree to help</button>
      <button class="btn-help" id="hesitatehelp">hesitate help</button>
      <button class="btn-help" id="rejecthelp">reject help</button>
      <button class="btn-help" id="findother">findother</button>
      <button class="btn-friend" id="findfriend">find friend</button>
      <button class="btn-friend" id="agreejoin">agree join</button>
      <button class="btn-friend" id="hesitatejoin">hesitate join</button>
      <button class="btn-friend" id="rejectjoin">reject join</button>
      <br>
      <button class="btn-together" id="icebreakintro">ice break intro</button>
      <button class="btn-together" id="definerule">define rule</button>
      <button class="btn-together" id="highfive">highfive</button>
      <button class="btn-together" id="teamup">team up</button>
      <button class="btn-together" id="swaptip">swap tip</button>
      <button class="btn-together" id="mentor">mentor</button>
      <button class="btn-together" id="footwork">footwork</button>
      <button class="btn-bye" id="bye">bye</button>
      <button class="btn-bye" id="forgetstuff">forget stuff</button>
      <br>
      <button class="btn-stage" id="stage1">stg1: normal</button>
      <button class="btn-stage" id="stage2">stg2: randomize</button>
      <button class="btn-stage" id="stage3">stg3: challenge</button>
      <button class="btn-stage" id="stage4">stg4: timer</button>
      <button class="btn-stage" id="stage5">stg5: cry</button>
      <button class="btn-stage" id="stage6">stg6: laugh</button>
      <button class="btn-stage" id="stage7">stg7: angry</button>
     
    </div>
    
    
    

  </body>
</html>
