body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: none;
}


.btn-intro{
  margin: 10px;
  color: #000000;
  background: #77B254;
/*   position: absolute; */
  box-sizing: border-box;
  font-family: "Titillium Web", serif;
/*   font-weight: 700; */
  font-style: normal;
/*   letter-spacing: 2px; */
  font-size: 15px;
/*   width: 200px; */
  padding: 10px;
  border: none;
}
#suggestchallenge{
  color: #000000;
  background: #FEF9E1;
}
#chooseroute{
  color: #000000;
  background: #E17564;
}
#nicetry{
  color: #000000;
  background: #E17564;
}
#success{
  color: #000000;
  background: #E17564;
}
#takerest{
  color: #000000;
  background: #E17564;
}
.btn-randomize{
  margin: 10px;
  color: #000000;
  background: #FFC785;
/*   position: absolute; */
  box-sizing: border-box;
  font-family: "Titillium Web", serif;
/*   font-weight: 700; */
  font-style: normal;
/*   letter-spacing: 2px; */
  font-size: 15px;
/*   width: 200px; */
  padding: 10px;
  border: none;
}

.btn-timer{
  margin: 10px;
  color: #000000;
  background: #E8F9FF;
/*   position: absolute; */
  box-sizing: border-box;
  font-family: "Titillium Web", serif;
/*   font-weight: 700; */
  font-style: normal;
/*   letter-spacing: 2px; */
  font-size: 15px;
/*   width: 200px; */
  padding: 10px;
  border: none;
}

.btn-challenge{
  margin: 10px;
  color: #000000;
  background: #E17564;
/*   position: absolute; */
  box-sizing: border-box;
  font-family: "Titillium Web", serif;
/*   font-weight: 700; */
  font-style: normal;
/*   letter-spacing: 2px; */
  font-size: 15px;
/*   width: 200px; */
  padding: 10px;
  border: none;
}

.btn-hug{
  margin: 10px;
  color: #000000;
  background: #FFA09B;
/*   position: absolute; */
  box-sizing: border-box;
  font-family: "Titillium Web", serif;
/*   font-weight: 700; */
  font-style: normal;
/*   letter-spacing: 2px; */
  font-size: 15px;
/*   width: 200px; */
  padding: 10px;
  border: none;
}

.btn-thief{
  margin: 10px;
  color: #FFFFFF;
  background: #2A3335;
/*   position: absolute; */
  box-sizing: border-box;
  font-family: "Titillium Web", serif;
/*   font-weight: 700; */
  font-style: normal;
/*   letter-spacing: 2px; */
  font-size: 15px;
/*   width: 200px; */
  padding: 10px;
  border: none;
}

.btn-hurt{
  margin: 10px;
  color: #FFFFFF;
  background: #872341;
/*   position: absolute; */
  box-sizing: border-box;
  font-family: "Titillium Web", serif;
/*   font-weight: 700; */
  font-style: normal;
/*   letter-spacing: 2px; */
  font-size: 15px;
/*   width: 200px; */
  padding: 10px;
  border: none;
}

.btn-help{
  margin: 10px;
  color: #FFFFFF;
  background: #2E5077;
/*   position: absolute; */
  box-sizing: border-box;
  font-family: "Titillium Web", serif;
/*   font-weight: 700; */
  font-style: normal;
/*   letter-spacing: 2px; */
  font-size: 15px;
/*   width: 200px; */
  padding: 10px;
  border: none;
}

.btn-friend{
  margin: 10px;
  color: #000000;
  background: #E5D9F2;
/*   position: absolute; */
  box-sizing: border-box;
  font-family: "Titillium Web", serif;
/*   font-weight: 700; */
  font-style: normal;
/*   letter-spacing: 2px; */
  font-size: 15px;
/*   width: 200px; */
  padding: 10px;
  border: none;
}

.btn-together{
  margin: 10px;
  color: #000000;
  background: #FCC737;
/*   position: absolute; */
  box-sizing: border-box;
  font-family: "Titillium Web", serif;
/*   font-weight: 700; */
  font-style: normal;
/*   letter-spacing: 2px; */
  font-size: 15px;
/*   width: 200px; */
  padding: 10px;
  border: none;
}

.btn-bye{
  margin: 10px;
  color: #000000;
  background: #FFFECB;
/*   position: absolute; */
  box-sizing: border-box;
  font-family: "Titillium Web", serif;
/*   font-weight: 700; */
  font-style: normal;
/*   letter-spacing: 2px; */
  font-size: 15px;
/*   width: 200px; */
  padding: 10px;
  border: none;
}
.btn-stage{
  margin: 10px;
  color: #FFFFFF;
  background: #49243E;
/*   position: absolute; */
  box-sizing: border-box;
  font-family: "Titillium Web", serif;
/*   font-weight: 700; */
  font-style: normal;
/*   letter-spacing: 2px; */
  font-size: 15px;
/*   width: 200px; */
  padding: 10px;
  border: none;
}
#btns{
  visibility: hidden;
}
/* .elements{
  margin: 0;
  position: absolute;
  background-color:tomato;
} */